.about {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  // width: 69%;
  margin: 0 auto;
  padding: 0 0 90px;
}

.about img {
  height: 317px;
  width: 200px;
  margin-left: -28px;
}

.about__wrapper {
  max-width: 984px;
  width: 83%;
  margin: 0 0 15px 8px;
  color: $basic-dark;
}
.about__wrapper h2 {
  @include heading-style;
  margin: 0 0 18px;
}

.about__wrapper p {
  font-size: 16px;
  line-height: 22.5px;
}

.about__dots {
  display: none;
}

.about__button {
  width: 180px;
  height: 45px;
  margin-top: 27px;
  color: $special-blue;
  border: 1px solid $special-blue;
  background-color: transparent;
}

@media (max-width: $tablet-breakpoint) {
  .about {
    width: 100%;
    padding: 0 0 68px;
  }

  .about img {
    height: 365px;
    width: 190px;
    margin: 0;
  }

  .about__wrapper {
    max-width: 532px;
    width: 76%;
    margin: 0 0 0 22px;
  }

  .about__wrapper p {
    margin: 21px 0 0;
  }

  .about__dots {
    display: inline;
  }

  .about__hidden {
    display: none;
  }

  .about__button {
    margin-top: 40px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .about {
    padding: 0 0 65px;
  }

  .about__wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .about img {
    display: none;
  }

  .about__wrapper h2 {
    margin: 0 0 21px;
    font-size: 28px;
    line-height: 39px;
  }

  .about__wrapper p:first-of-type {
    margin-bottom: 40px;
  }

  .about__button {
    margin-top: 28px;
  }
}
