.about {
  display: flex;
  padding: 0 0 90px;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.about img {
  height: 317px;
  width: 200px;
  margin-left: -28px;
}

.about__folder {
  // width: 81.7%;
  width: calc(100% - 175px);
  margin: 0 0 15px 3px;
  color: $basic-dark;
  background-color: $basic-white;
}

.about__folder h2 {
  @include heading-style;
  margin: 0 0 18px;
}

.about__folder p {
  font-size: 16px;
  line-height: 22.5px;
}

.about__dots {
  display: none;
}

.about__button {
  width: 180px;
  height: 45px;
  margin-top: 27px;
  color: $special-blue;
  border: 1px solid $special-blue;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $basic-white;
    background-color: $special-blue;
  }
}

@media (max-width: $tablet-breakpoint) {
  .about {
    padding: 0 0 68px;
  }

  .about__wrapper {
    width: 100%;
  }

  .about img {
    height: 365px;
    width: 190px;
    margin: 0;
  }

  .about__folder {
    // width: 70.8%;
    width: calc(100% - 231px);
    margin: 0 0 0 22px;
    z-index: 2;
  }

  .about__folder h2 {
    letter-spacing: -2px;
  }

  .about__folder p {
    margin: 21px 0 0;
  }

  .about__dots {
    display: inline;
  }

  .about__hidden {
    display: none;
  }

  .about__button {
    margin-top: 40px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .about {
    padding: 0 0 65px;
  }

  .about__folder {
    width: 90%;
    margin: 0 auto;
  }

  .about img {
    display: none;
  }

  .about__folder h2 {
    margin: 0 0 21px;
    font-size: 28px;
    line-height: 39px;
  }

  .about__folder p:first-of-type {
    margin-bottom: 40px;
  }

  .about__button {
    margin-top: 28px;
  }
}
