.advantages {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 110px 0;
}

.advantages__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  max-width: 570px;
  width: 48.5%;
  min-height: 299px;
  padding: 40px 42px;
  border: 1px solid $grey;
  border-left: 1px solid $special-blue;
  background-color: $basic-white;
  box-sizing: border-box;
  z-index: 2;
  transition-property: all;
  transition-duration: 0.7s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $special-blue;
  }

  &:hover h3,
  &:focus h3,
  &:hover p,
  &:focus p {
    color: $basic-white;
  }

  &:hover svg,
  &:focus svg {
    fill: $basic-white;
  }
}

.advantages__item:nth-of-type(2n+1) {
  margin-right: 30px;
}

.advantages__item:nth-of-type(n+3) {
  margin-top: 30px;
}

.advantages__item svg {
  margin-bottom: 18px;
  fill: $special-blue;
}

.advantages__item h3 {
  @include heading-style;
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 34px;
  color: $special-blue;
}

.advantages__item p {
  margin: 0;
  font-size: 16px;
  line-height: 21.5px;
  color: $basic-dark;
}

@media (max-width: $tablet-breakpoint) {
  .advantages {
    width: 94%;
    padding: 54px 0;
  }

  .advantages__item {
    width: 47.9%;
    min-height: 306px;
    padding: 24px 13px 24px 27px;

    &--confidentiality,
    &--price {
      min-height: 232px;
    }
  }

  .advantages__item svg {
    margin-bottom: 4px;
  }

  .advantages__item h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .advantages {
    width: 90%;
    padding: 38px 0 63px;
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    width: 100%;
    min-height: 310px;
    padding: 24px 12px 24px 22px;

    &--confidentiality,
    &--price {
      min-height: 232px;
    }

    &--confidentiality svg {
      width: 30px;
      height: 26px;
    }

    &--price svg {
      width: 32px;
      height: 32px;
    }
  }

  .advantages__item svg {
    margin-bottom: 9px;
  }

  .advantages__item:nth-of-type(n) {
    margin: 0 auto;
  }

  .advantages__item:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .advantages__item h3 {
    font-size: 20px;
    line-height: 28px;
  }
}
