.input input,
.message textarea {
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: $basic-white;
  font-family: $body-font-family;
  font-size: 16px;
  line-height: 21.5px;

  &::placeholder {
    color: $basic-white;
  }

  &:focus,
  &:active {
    outline-color: $basic-white;
    background-color: $basic-white;
    color: $basic-dark;
  }
}

.submit {
  height: 45px;
  background-color: transparent;
  border: 1px solid $basic-white;
}

.checkbox label {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;
    box-sizing: border-box;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.checkbox input {
  &:checked + label::before {
    background-image: url("../img/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7.5px 4.5px;
  }
}

.error {
  display: block;
  margin: -15px 0 0;
  font-size: 12px;
  line-height: 12px;
  color: #ff5b40;
  letter-spacing: 1px;
}
