.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1411px;
  width: 73%;
  min-height: 52px;
  background-color: transparent;
}

.header__logo {
  &--mobile {
    display: none;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  @include list-style;
}

.header__item {
  align-self: center;
  color: $basic-white;

  &--mail {
    margin-right: 96px;
  }

  &--phone {
    margin-right: 48px;
  }
}

.header__item a {
  font-size: 16px;
  line-height: 18px;
  color: $basic-white;
  transition-property: all;
  transition-duration: 0.7s;
}

.header__item a {
  &:focus,
  &:hover {
    color: $special-blue;
    opacity: 1;
  }

  &:active {
    color: $special-blue;
    opacity: 0.5;
  }
}

.header__item {
  &-mail svg {
    width: 19px;
    height: 14px;
  }

  &--phone svg {
    width: 18px;
    height: 18px;
  }
}

.header__button {
  width: 180px;
  height: 45px;
  border: 1px solid $basic-white;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
}

@media (max-width: $tablet-breakpoint) {
  .header {
    top: 20px;
    width: 93.5%;
  }

  .header__item {
    &--mail {
      margin-right: 33px;
    }

    &--phone {
      margin-right: 0;
    }

    &--button {
      display: none;
    }
  }

  .header__item span {
    display: none;
  }

  .header__item {
    &--mail svg {
      width: 25px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .header {
    top: 10px;
    width: 90%;
  }

  .header__logo {
    &--main {
      display: none;
    }

    &--mobile {
      display: block;
    }

    &--mobile svg {
      width: 38px;
      height: 38px;
    }
  }

  .header__item {
    &--mail {
      margin-right: 23px;
    }
  }
}
