.header {
  display: flex;
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  min-height: 52px;
  background-color: transparent;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1451px;
  width: 76%;
}

.header__logo {
  display: flex;
}

.header__logo svg {
  width: 52px;
  height: 52px;
}

.header__logo-text {
  flex-direction: column;
  margin-left: 16px;
}

.header__logo-text svg {
  width: 134px;
}

.header__text-smart svg {
  height: 30px;
}

.header__text-technology svg {
  height: 15px;
}

.header__list {
  @include list-style;
  display: flex;
  justify-content: space-between;
  max-width: 796px;
  width: 100%;
  padding-left: 10%;
  box-sizing: border-box;
  z-index: 2;
}

.header__item {
  align-self: center;
  color: $basic-white;

  &--mail {
    width: 31%;
    padding-right: 20px;
  }

  &--phone {
    width: 36%;
    padding-right: 20px;
  }

  &-mail svg {
    width: 19px;
    height: 14px;
  }

  &--phone svg {
    width: 18px;
    height: 18px;
  }

  & span {
    margin-left: 9px;
  }
}

.header__item a {
  font-size: 16px;
  line-height: 18px;
  color: $basic-white;
  transition-property: all;
  transition-duration: 0.7s;

  &:focus,
  &:hover {
    color: $special-blue;
    opacity: 1;
  }

  &:active {
    color: $special-blue;
    opacity: 0.5;
  }
}

.header__button {
  width: 180px;
  height: 45px;
  border: 1px solid $basic-white;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
}

@media (max-width: $tablet-breakpoint) {
  .header {
    top: 20px;
  }

  .header__wrapper {
    width: 93.5%;
  }

  .header__list {
    width: auto;
    padding: 0;
  }

  .header__item {
    width: auto;
    padding: 0;

    &--mail {
      margin-right: 33px;
    }

    &--phone {
      margin-right: 0;
    }

    &--button {
      display: none;
    }

    &--mail svg {
      width: 25px;
      height: 19px;
    }

    &--phone svg {
      width: 24px;
      height: 24px;
    }
  }

  .header__item span {
    display: none;
  }
}

@media (max-width: $mobile-breakpoint) {
  .header {
    top: 10px;
  }

  .header__wrapper {
    width: 90%;
  }

  .header__logo svg {
    width: 38px;
    height: 38px;
  }

  .header__logo-text {
    display: none;
  }

  .header__item {
    &--mail {
      margin-right: 23px;
    }
  }
}
