.service {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 938px;
  padding: 93px 0 127px;
  background-color: $dark-grey;
  box-sizing: border-box;
}

.service__wrapper {
  max-width: 1170px;
  width: 61%;
  margin: 0 auto;
}

.service__wrapper h2 {
  @include heading-style;
  margin: 0 0 47px;
  color: $basic-white;
}

.service__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.service__item {
  position: relative;
  max-width: 370px;
  width: 24%;
  min-height: 620px;
  padding: 53px 44px;
  box-sizing: border-box;

  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

.service__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;

  &--production {
    background-image: url("../../img/production.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/production-x2.png");
    }
  }

  &--montage {
    background-image: url("../../img/montage.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/montage-x2.png");
    }
  }

  &--accesories {
    background-image: url("../../img/accesories.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/accesories-x2.png");
    }
  }
}

.service__item h3 {
  @include heading-style;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: $basic-white;
}

.service__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 63px;
  padding: 0;
  border: none;
  background-color: $special-blue;
}

.service__button svg {
  fill: none;
}

@media (max-width: $tablet-breakpoint) {
  .service {
    padding: 53px 0 78px;
  }

  .service__wrapper {
    width: 93%;
  }

  .service__wrapper h2 {
    margin-bottom: 46px;
    font-size: 32px;
    line-height: 45px;
  }

  .service__list {
    flex-direction: column;
  }

  .service__item {
    max-width: 720px;
    width: 100%;
    min-height: 256px;
    padding: 43px;
    margin: 0 auto;

    &:not(:last-of-type) {
      margin: 0 auto 46px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .service {
    padding: 53px 0 64px;
  }

  .service__wrapper {
    width: 90%;
  }

  .service__wrapper h2 {
    margin-bottom: 37px;
    font-size: 28px;
    line-height: 39px;
  }

  .service__item {
    padding: 23px 35px;

    &:not(:last-of-type) {
      margin: 0 0 30px;
    }
  }
}
