.background {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.background__triangle {
  position: absolute;

  &--little svg {
    width: 261px;
    height: 229px;
  }

  &--big svg {
    width: 905px;
    height: 870px;
    transform: rotate(180deg);
  }

  &--little1 {
    top: 57px;
    left: 182px;
    transform: rotate(90deg);
  }

  &--big1 {
    bottom: -54px;
    left: -314px;
  }

  &--little2 {
    top: 440px;
    right: 68px;
    transform: rotate(150deg);
  }

  &--big2 {
    bottom: 240px;
    left: 540px;
    transform: rotate(180deg);
  }
}

.background__triangle svg {
  fill: none;
}
