.triangles {
  display: flex;
  position: relative;
  width: 705px;
  height: 515px;
}

.triangles svg {
  fill: none;
}

.triangles__little svg {
  position: absolute;
  bottom: 60px;
  left: 50px;
  width: 330px;
  height: 310px;
}

.triangles__big svg {
  position: absolute;
  bottom: 70px;
  left: 80px;
  width: 600px;
  height: 480px;
}

.background {
  position: relative;
  max-width: 1921px;
  overflow-x: hidden;
}

.background__triangle {
  position: absolute;

  &--little svg {
    width: 340px;
    height: 330px;
  }

  &--big svg {
    width: 680px;
    height: 695px;
  }

  &--little1 {
    top: 40px;
    left: 200px;
  }

  &--big1 {
    bottom: -30px;
    left: -70px;
  }

  &--little2 {
    top: 388px;
    right: 27px;
    transform: rotate(180deg);
  }

  &--big2 {
    bottom: 410px;
    left: 525px;
    transform: rotate(180deg);
  }
}

.background__triangle svg {
  fill: none;
}

@media (max-width: $tablet-breakpoint) {
  .triangles__little svg{
    left: 67px;
    width: 260px;
    height: 260px;
  }

  .triangles__big svg {
    bottom: 51px;
    left: 110px;
    width: 435px;
    height: 435px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .triangles__little svg{
    bottom: 110px;
    left: 160px;
    width: 265px;
    height: 216px;
  }

  .triangles__big svg {
    bottom: 110px;
    left: 208px;
    width: 446px;
    height: 370px;
  }
}
