$basic-white: #ffffff;
$basic-black: #000000;
$almost-black: #131314;
$basic-dark: #1f1f1f;
$special-dark:  #1c1c1c;
$dark-grey: #48494d;
$basic-grey: #f6f7f9;
$light-grey: #f6f6f6;
$special-mint: #0ad9c6;

$body-font-family: "Open Sans", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1024px;
